general {
        colors = true
        interval = 5
}

order += "ethernet _first_"
order += "disk /"
order += "load"
order += "memory"
order += "tztime local"

ethernet _first_ {
        format_up = " %ip (%speed)"
        format_down = " down"
}

disk "/" {
        format = " %avail"
}

load {
        format = " %1min"
}

memory {
        format = " %used | %available"
        threshold_degraded = "1G"
        format_degraded = " < %available"
}

tztime local {
        format = " %Y-%m-%d %I:%M %p"
}
